body {
    width: 100%;
    height: 100vh; 
}

main{
    width: 100%;
    height: 100vh;
}

/* Total height of grid-container minus padding consists of grid-rows plus row-gap, 58.6% + 38.0% + 3.4% = 100%. Padding is computed on element's width and therefore has the same value as column-gap. */

.grid__container {
    width: 100%;
    height: 81vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 58.6% 38.0%;
    row-gap: 3.4%;
    column-gap: 1.7%;
    padding: 1.7%;
}

.item1 {
    grid-column: 1 / 2;
    display: grid; 
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    row-gap: 5.8%;
}

.item1A {
    background: #007F5F;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.item1B {
    background: #2B9348;
}

.item2 {
    background: #80B918;
    grid-column: 2 / 4;
}

.item3 {
    grid-column: 4 / 6;
    display: grid; 
    grid-auto-flow: row;
    grid-template-rows: repeat(3 1fr);
    row-gap: 5.8%;
}

.item3A {
    background: #DDDF00;
}

.item3B {
    background: #EEEF20;
}

.item3C {
    background: #FFFF3F;
}

.item4 {
    background: #55A630;
}

.item5 {
    display: grid; 
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    row-gap: 9%;
}

.item5A {
    background: #AACC00;
}

.item5B {
    background: #BFD200;
}

.item6 {
    background: #D4D700;
    grid-column: 3 / 5;
}

.item7 {
    background: #007F5F;
}

.bottom-container {
    width: 100%;
    height: 19vh;
    box-sizing: border-box;
    background: #9BC1BC;
    display: flex;
    align-items: center;
}

.text-box {    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 1.7%;
}