body {
    width: 100%;
    height: 100vh;
}

.grid__container {
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60.7% 39.3%;
    grid-gap: 24px;
    padding: 24px;
    align-content: start;
    /* padding-bottom: 24px; */
}

.item1 {
    grid-column: 1 / 2;
    display: grid; 
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px;
}

.item1A {
    background: #007F5F;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.item1B {
    background: #2B9348;
}

.item2 {
    background: #80B918;
    grid-column: 2 / 4;
}

.item3 {
    grid-column: 4 / 6;
    display: grid; 
    grid-auto-flow: row;
    grid-template-rows: repeat(3 1fr);
    grid-gap: 24px;
}

.item3A {
    background: #DDDF00;
}

.item3B {
    background: #EEEF20;
}

.item3C {
    background: #FFFF3F;
}

.item4 {
    background: #55A630;
}

.item5 {
    display: grid; 
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px;
}

.item5A {
    background: #AACC00;
}

.item5B {
    background: #BFD200;
}

.item6 {
    background: #D4D700;
    grid-column: 3 / 5;
}

.item7 {
    background: #007F5F;
}